@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
    url('./Roboto/Roboto.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat/Montserrat-Light.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat/Montserrat-Medium.woff2') format('woff2');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat/Montserrat-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
